

.page1{
    background-color: #121212;
    text-align: center; 
}

.page2{
    background-color: #121212;
    font-family: "Inconsolata", sans-serif;
    color: #FCFDFE;
    text-align: center;
}

.page3{
    background-color: #FCFDFE;
    color:#121212;
    text-align: center;
}

.page4{
    background-color: #121212;
    font-family: 'Courier New', Courier, monospace; 
    color: #FCFDFE;
    text-align: center;
}

.page5{
    background-color: #121212;
    font-family: 'Courier New', Courier, monospace; 
    color: #FCFDFE;
    text-align: center;
}

.page6{
    background-color: #121212;
    font-family: 'Courier New', Courier, monospace; 
    color: #FCFDFE;
    text-align: center;
}

.page7{
    background-color: #121212;
    font-family: 'Courier New', Courier, monospace; 
    color: #FCFDFE;
    text-align: center;
}

.page8{
    background-color: #121212;
    font-family: 'Courier New', Courier, monospace; 
    color: #FCFDFE;
    text-align: center;
}

.page9{
    background-color: #121212;
    font-family: 'Courier New', Courier, monospace; 
    color: #FCFDFE;
    text-align: center;
}

.page10{
    background-color: #121212;
    font-family: 'Courier New', Courier, monospace; 
    color: #FCFDFE;
    text-align: center;
}

.page11{
    background-color: #121212;
    font-family: 'Courier New', Courier, monospace; 
    color: #FCFDFE;
    text-align: center;
}

.page12{
    background-color: #FCFDFE;
    font-family: 'Courier New', Courier, monospace; 
    color: #121212;
    text-align: center;
}

.page13{
    background-color: #FCFDFE;
    font-family: 'Courier New', Courier, monospace; 
    color: #121212;
    text-align: center;
}

.page14{
    background-color: #FCFDFE;
    font-family: 'Inconsolata', sans-serif; 
    color: #DB5461;
    font-size: 1em;
    text-align: center;
}

.page15{
    background-color: #FCFDFE;
    font-family: 'Courier New', Courier, monospace; 
    color: #121212;
    text-align: center;
}

.page16{
    background-color: #FCFDFE;
    font-family: 'Courier New', Courier, monospace; 
    color: #121212;
    text-align: center;
}

.page17{
    background-color: #FCFDFE;
    font-family: 'Courier New', Courier, monospace; 
    color: #121212;
    text-align: center;
}

.footer{
    background-color: #FCFDFE;
    font-family: 'Inconsolata', sans-serif; 
    color: #121212;
    text-align: center;
}