
header {
    background-color: #121212;
    font-family: "Inconsolata", sans-serif;
    color: #FCFDFE;
    text-align: center; 
    padding: 0 0 5% 0;
}
header img{
padding: 0 0 5% 0;
}

.intro{
    background-color: #FCFDFE;
    color: #121212;
    text-align: center;
    
}

main {
    background-color: #FCFDFE;
    color: #121212;
    text-align: center;
}

.results {
    background-color: #121212;
    font-family: "Inconsolata", sans-serif;
    color: #FCFDFE;
    text-align: center; 
}

.results video{
    text-align: right
}

.page14{
    background-color: #FCFDFE;
    font-family: 'Inconsolata', sans-serif; 
    color: #DB5461;
    font-size: 1em;
    text-align: center;
}

.footer{
    background-color: #FCFDFE;
    color: #121212;
    text-align: center;
}

